{% extends 'utilizador/layout.html' %}
{% block content %}

{% load crispy_forms_tags %}

{% load fegt9_mpg_proteksaun_url %}


		<!-- ============================================================== -->
						<!-- pageheader  -->
						<!-- ============================================================== -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="page-header">
									<h2 class="pageheader-title">Employee Detail  </h2>
									<p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
									<div class="page-breadcrumb">
										<nav aria-label="breadcrumb">
											<ol class="breadcrumb">
												<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">CVTL</a></li>
												<li class="breadcrumb-item active" aria-current="page">Hris Painel</li>
											</ol>

                                            
										</nav>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================================================== -->
						<!-- end pageheader  -->
						<!-- ============================================================== -->
						<div class="ecommerce-widget">



	
				
                            <div class="row">



								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
									<div class="section-block">
										<h5 class="section-title">Vertical tabs</h5>
										<p>Takes the basic nav from above and adds the .nav-tabs class to generate a tabbed interface..</p>
									</div>
									<div class="tab-vertical">
										<ul class="nav nav-tabs" id="myTab3" role="tablist">
											<li class="nav-item">
												<a class="nav-link {{tab_personal}}" id="home-vertical-tab" href="{% url 'employee:detailEmployee' employeeData.id|encrypt_id_tag %}" role="tab" aria-controls="home" aria-selected="true">Personal Information</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {{tab_contract}}" id="profile-vertical-tab" href="{% url 'employee:detailEmployeeContract' employeeData.id|encrypt_id_tag %}" role="tab" aria-controls="profile" aria-selected="false">Contract</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {{tab_payroll}}" id="profile-vertical-tab" href="{% url 'employee:detailEmployeePayroll' employeeData.id|encrypt_id_tag %}" role="tab" aria-controls="profile" aria-selected="false">Payroll</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {{tab_feducation}}" id="profile-vertical-tab" href="{% url 'employee:detailEmployeeFormalEducation' employeeData.id|encrypt_id_tag %}" role="tab" aria-controls="profile" aria-selected="false">Formal Education</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {{tab_nfeducation}}" id="profile-vertical-tab" href="{% url 'employee:detailEmployeeNFormalEducation' employeeData.id|encrypt_id_tag %}" role="tab" aria-controls="profile" aria-selected="false">Non Formal Education</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {{tab_workexperience}}" id="profile-vertical-tab" href="{% url 'employee:detailEmployeeWorkExperience' employeeData.id|encrypt_id_tag %}" role="tab" aria-controls="profile" aria-selected="false">Work Experience</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {{tab_languageskills}}" id="profile-vertical-tab" href="{% url 'employee:detailEmployeeLanguageSkills' employeeData.id|encrypt_id_tag %}" role="tab" aria-controls="profile" aria-selected="false">Language Skills</a>
											</li>
										</ul>
										<div class="tab-content" id="myTabContent3">
											
											{% if tab_personal %}
												{% include 'employee/tab_personal.html' %}
											{% elif tab_contract %}
												{% include 'employee/tab_contract.html' %}
											{% elif tab_payroll %}
												{% include 'employee/tab_payroll.html' %}
											{% elif tab_feducation %}
												{% include 'employee/tab_feducation.html' %}
											{% elif tab_nfeducation %}
												{% include 'employee/tab_nfeducation.html' %}
											{% elif tab_workexperience %}
												{% include 'employee/tab_workexperience.html' %}
											{% elif tab_languageskills %}
												{% include 'employee/tab_languageskills.html' %}
											{% endif %}

										
										</div>
									</div>
								</div>
                            </div>
                            </div>
						</div>



{% endblock content %}