{% extends 'utilizador/layout.html' %}
{% block content %}
{% load fegt9_mpg_proteksaun_url %}

		<!-- ============================================================== -->
						<!-- pageheader  -->
						<!-- ============================================================== -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="page-header">
									<h2 class="pageheader-title">Employee </h2>
									<p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
									<div class="page-breadcrumb">
										<nav aria-label="breadcrumb">
											<ol class="breadcrumb">
												<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">CVTL</a></li>
												<li class="breadcrumb-item active" aria-current="page">Hris Painel</li>
											</ol>

                                            
										</nav>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================================================== -->
						<!-- end pageheader  -->
						<!-- ============================================================== -->
						<div class="ecommerce-widget">
	
				
							<div class="row">
								<!-- ============================================================== -->
						  
								<!-- ============================================================== -->
	
											  <!-- recent orders  -->
								<!-- ============================================================== -->
								<div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
									<div class="card">
										<h5 class="card-header">Employee List  <a href="{% url 'employee:addEmployee' %}" class="btn btn-primary btn-sm float-right ">  <i class="far fa-paper-plane"></i> Add Employee</a></h5>      
                                        
                                     
										<div class="card-body p-0">
											<div class="table-responsive">
												<table class="table table-sm">
													<thead class="bg-light">
														<tr class="border-0">
															<th class="border-0">Nu</th>
															<th class="border-0">Employee ID</th>
															<th class="border-0">Identification Number</th>
															<th class="border-0">Full Name</th>
															<th class="border-0">Address</th>
															<th class="border-0">Sex</th>
															<th class="border-0">Phone</th>
															<th class="border-0">Email</th>
															<th class="border-0">#</th>
													
														</tr>
													</thead>
													<tbody>

                                                        {% for dados in dadosem %}
														<tr>
														
															<td>{{forloop.counter}}</td>
															<td>{{dados.emp_id}}</td>
															<td>{{dados.identify_id}}</td>
															<td>{{dados.first_name}} {{dados.last_name}}</td>
															<td>{{dados.address}}</td>
                                                            <td>{{dados.sex}}</td>
															<td>{{dados.phone}}</td>
															<td>{{dados.oficial_email}}</br>
																{{dados.personal_email}}
															</td>
															<td>

                                                             <a href="{% url 'employee:editEmployee' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>
                                                             <a href="{% url 'employee:detailEmployee' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> Detallu Item </a>
                                                            
                                                             

                                                            </td>
														</tr>
                                                        {% endfor %}
													
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- ============================================================== -->
								<!-- end recent orders  -->
	
		
								<!-- ============================================================== -->
								<!-- ============================================================== -->
								<!-- customer acquistion  -->
								<!-- ============================================================== -->
							
								<!-- ============================================================== -->
								<!-- end customer acquistion  -->
								<!-- ============================================================== -->
							</div>
				
						
						</div>

{% endblock content %}