<div class="tab-pane fade show active" id="home-vertical" role="tabpanel" aria-labelledby="home-vertical-tab">
    <p class="lead">{{employeeData.first_name}} {{employeeData.last_name}}</p>
    <p><b>ID Employee:</b> {{employeeData.emp_id}}</p>
    <p><b>Identify ID:</b> {{employeeData.identify_id}}</p>
    <p><b>address:</b> {{employeeData.address}}</p>
    <p><b>Place of Birth:</b> {{employeeData.pob}}</p>
    <p><b>Date of Birth:</b> {{employeeData.dob}}</p>
    <p><b>Sex:</b> {{employeeData.sex}}</p>
    <p><b>Marital:</b> {{employeeData.marital}}</p>
    <p><b>Phone:</b> {{employeeData.phone}}</p>
    <p><b>Oficial Email:</b> {{employeeData.oficial_email}}</p>
    <p><b>Personal Email:</b> {{employeeData.personal_email}}</p>
    <p><b>Blood:</b> {{employeeData.blood}}</p>
    <p><b>Parents:</b> Father ({{employeeData.father}}), Mother ({{employeeData.mother}})</p>
    <p><b>Country:</b> {{employeeData.country}}</p>
</div>