
{% load fegt9_mpg_proteksaun_url %}
		<!-- ============================================================== -->
						<!-- pageheader  -->
						<!-- ============================================================== -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="page-header">
									<h2 class="pageheader-title">{{employeeData.first_name}} {{employeeData.last_name}} </h2>
								</div>
							</div>
						</div>
						<!-- ============================================================== -->
						<!-- end pageheader  -->
						<!-- ============================================================== -->
						<div class="ecommerce-widget">
	
				
							<div class="row">
								<!-- ============================================================== -->
						  
								<!-- ============================================================== -->
	
											  <!-- recent orders  -->
								<!-- ============================================================== -->
								<div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
									<div class="card">
										<h5 class="card-header">Payroll List
										<div class="card-body p-0">
											<div class="table-responsive">
												<table class="table table-sm">
													<thead class="bg-light">
														<tr class="border-0">
                                                            <th class="border-0">Nu</th>
                                                            <th class="border-0">Type</th>
                                                            <th class="border-0">Position</th>
                                                            <th class="border-0">Department</th>
                                                            <th class="border-0">Grau</th>
                                                            <th class="border-0">Gross Salary</th>
                                                            <th class="border-0"></th>
                                                            <th class="border-0">Tax (10%)</th>
                                                            <th class="border-0"></th>
                                                            <th class="border-0">Social Security (4%)</th>
                                                            <th class="border-0"></th>
                                                            <th class="border-0">Net</th>
                                                            <th class="border-0">#</th>
													
														</tr>
													</thead>
													<tbody>

                                                        {% for dados in payrolllist %}
														<tr>
                                                            <td>{{forloop.counter}}</td>
                                                            <td>{{dados.contract.contract_type}}</td>
                                                            <td>{{dados.contract.position}}</td>
                                                            <td>{{dados.contract.department}}</td>
                                                            <td>{{dados.contract.grade}}</td>
                                                            <td>{{dados.gross}}</td>
															<td>-</td>
                                                            <td>{{dados.tax}}</td>
															<td>-</td>
                                                            <td>{{dados.social}}</td>
															<td>=</td>
                                                            <td>{{dados.net}}</td>
                                                           <td>
                                                           {% if forloop.first %}
                                                           <!-- <a href="{% url 'rekrutamentu:publikavaga' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class=" fas fa-volume-up"></i> Publika vaga</a> -->
                                                           <a href="{% url 'purchase_request:edititempurchase' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>
                                                            {% endif %}
          
                                                          </td>
														</tr>
                                                        {% endfor %}
													
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- ============================================================== -->
								<!-- end recent orders  -->
	
		
								<!-- ============================================================== -->
								<!-- ============================================================== -->
								<!-- customer acquistion  -->
								<!-- ============================================================== -->
							
								<!-- ============================================================== -->
								<!-- end customer acquistion  -->
								<!-- ============================================================== -->
							</div>
				
						
						</div>
